albumentations
blobfile
h5py
kornia
matplotlib
mkl_service
numpy
omegaconf
opencv_python
opencv_python_headless
Pillow
scipy
seaborn
setuptools
torch
torchvision
tqdm
unet
tensorboard
hydra-core
joblib
torchvision